<div class="min-h-96 border-2 border-pink-900 flex-grow mb-8">
  <div class="section-content flex flex-col">
    <h1 class="text-2xl border-2 border-red-500 m-5 text-center">
      To-Do List For <%= Time.now.strftime('%A, %e %B, %Y') %>
    </h1>
    <%= render 'shared/todo_list' %>
  </div>

  <%# PROGRESS BAR %>
  <div class="progress-bar" style="width: <%= @progress %>%;">
  <p>
    Completed<%= @progress %>%
  </p>
</div>


  <%# LINKS %>
  <p class="text-center m-2 border-2 border-orange-500">
    <%= link_to "ðŸ‘‰ðŸ¾ Create new to-do item", new_todo_path %>
  </p>
</div>
